{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="text-danger">📞 Contact Us</h2>

    <p>If you have any questions, feel free to contact us.</p>

    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <td>Arvind Pund</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>arvindpund03@gmail.com</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>+91 8007916170</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>Nashik, Maharashtra</td>
        </tr>
    </table>

    <a href="/dashboard/" class="btn btn-danger">
        Back to Dashboard
    </a>

</div>

{% endblock %}